*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color:#0e6c70 ;
}
#help{
    color: white;
}
#conclu{
    color: white;
}
#lab{
    width: 70px;
    height: 208px;
    margin: 400px 0 0 700px;
}
#lab img{
    z-index: 0;
    position: absolute;
    width: 70px;
    top: 0;
    left: 0;
}
#liquid{
    z-index: -1;
    border-radius: 0 0 70px 70px;
    top: 100px;
    left: 10px;
    position: absolute;
    width: 50px;
    height: 105px;
    transition: all 3s;
}
#reload{
    color: white;
    cursor: pointer;
    font-family: spline;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    margin: 10px 0 0 80vw;
}
#dropper{
    position: fixed;
    margin: 200px 0 0 600px;
    width: 100px;
    height: 122px;
}
#dropper img{
    position: absolute;
    width: 100px;
    top: 0;
    left: 0;
}
#drop{
    opacity: 0;
    top: 0px;
    left: 33px;
    width: 5px;
    height: 10px;
    background-color:rgba(245, 245, 245, 0.515);
    position: absolute;
}
.object{
    position: fixed;
}
#phenolphtalein .bottle{
    margin: 330px 0 0 200px;
    width: 130px;
    height: 280px;
}
#phenolphtalein .cap{
    margin: 330px 0 0 230px;
    width: 70px;
}
#hcl .cap{
    margin: 310px 0 0 395px;
    width: 50px;
}
#hcl .bottle{
    margin: 320px 0 0 370px;
    width: 100px;
}
.cap{
    position: absolute;
    z-index: 1;
}
.bottle{
    z-index: 0;
    position: absolute;
}
#react-tab{
    font-size: auto;
    color: #000000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: spline;
    border-radius: 0px 0px 20px 20px;
    position: fixed;
    margin: 0px 0 0 25vw;
    width: 50vw;
    height: 20vh;
    background-color: rgb(239, 239, 239);
}
#react-tab{
    padding: 10px 20px;
}
:root{
    --dropBottom : 200px;
}
/* animation */
@keyframes dropping {
    from{
        top: 0px;
    }
    to{
        top: 190px;
    }
}