
#small{
    margin: 200px  0 0 100px;
    width: 20px;
    height: 15px;
    border-radius: 1px 4px 2px 5px;
}
#medium{
    margin: 200px  0 0 150px;
    width: 30px;
    height: 25px;
    border-radius: 1px 1px 8px 5px;
}
.large{
    margin: 200px  0 0 200px;
    width: 50px;
    height: 45px;
    border-radius: 7px 2px 10px 5px;
}
.natri{

    z-index: 3;
    position: fixed;
    background-color: rgb(206, 204, 204);
}
#help{
    color: white;
}
#bowl{
    border: 300px;
    margin: 100px 0 0 400px;
    position: fixed;
}
#main{
    width: 600px;
}
#water{
    filter: drop-shadow(0 0 10px  rgba(133, 133, 133, 0.594));
    position: absolute;
    bottom: 60px;
    left: 60px;
    width: 480px;
    border-radius: 700px;
    height: 480px;
    background-color: rgba(157, 213, 255, 0.594);
}
#splash{
    width: 250px;
}
.effect{
    position: absolute;
    opacity: 0;
    bottom: 0;
    left: 0;
}
/* animations */
@keyframes shadow {
    from{
        filter: drop-shadow(0px 0px 0px rgb(206, 204, 204));
    }
    to{
        filter: drop-shadow(0px 10px 10px rgb(206, 204, 204));
    }
}